[Desktop Entry]
Name=Connect 4
Comment=Connect 4
Exec=/usr/bin/qmlscene $@ /usr/share/connect4/connect4.qml
Icon=qmlscene
Terminal=false
Type=Application
X-Ubuntu-Touch=true
